body {
    margin: 0;
}

.main-screen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spawn-screen {
    height: 300px;
    width: 400px;
    background-color: rgba(204, 204, 204, 0.9);
    border-radius: 20px;
    color: black;
}

.left-hud {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 40px;
    width: 320px;
    background-color: rgba(240, 240, 240, 0.7);
    border-radius: 20px;
    color: black;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}

.right-hud {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 220px;
    height: 410px;
    font-size: 15px;
    background-color: rgba(240, 240, 240, 0.7);
    border-radius: 20px;
    font-weight: bold;
    color: black;
    padding-left: 20px;
    padding-right: 40px;
}

.chat-hud {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 200px;
    width: 320px;
    background-color: rgba(240, 240, 240, 0.7);
    border-radius: 20px;
    color: black;
    padding-left: 10px;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 25px;
    margin: 10px 0;
}

ol, ul {
    margin: 0;
}

.disp-leader {
    display: flex;
    justify-content: space-between;
}